    /* taustan väri */
    .navbar-custom {
      background-color:#0f1720;
  }

  /* brandin ja tekstin väri */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text{
      color: #b0d0e4;
  }
  
  /* linkin väri */
  .navbar-custom .navbar-nav .nav-link {
      color: #bdbdbd;
  }
  
  /* aktiivisen & hover-linkin väri */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
      color: #6d6d6d
  }
  
  .nav-link.active {
      color: white !important;
    }
  
  .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  
  body { position: relative; 
    }
  
  .custom-img {
      width: 100%;
      max-width: 500px;
    }
  
  .img-rounded-corners-1 {
      border-radius: 5% 5% 5% 5%;
    }
  
  .img-rounded-corners-2 {
      border-radius: 5% 5% 5% 5%;
    }
  
  .btn-link {
      font-weight: bold;
      color: #000;
      text-decoration: none;
      background-color: transparent;
      border: none;
      display: block;
      width: 100%;
    }
    
  .btn-link:hover, .btn-link:focus {
      text-decoration: underline;
      color: #436c87;
    }
  
    #cameras-lenses, #care-transport, #accessories, #filters {
      padding-top: 60px;
      padding-bottom: 50px;
    }
    
    .carousel-caption h3, .carousel-caption p {
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    }
